---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import PostsList from '../../../components/PostsList.astro';

import { getCollection } from 'astro:content';
import { categories } from '../../../data/categories';
import { sortPostsByDate } from '../../../utils/sortPostsByDate';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('publicaciones');
  const categorias = Object.keys(categories);

  return categorias.flatMap(categoria =>
    paginate(
      sortPostsByDate(
        posts.filter(p => p.data.category === categoria)
      ),
      {
        params: { categoria },
        pageSize: 3,
      }
    )
  );
}

// ✅ LOS PARAMS VIENEN DE AQUÍ
const { categoria } = Astro.params;
const { page } = Astro.props;

const categoriaTitulo = categories[categoria];

const pageTitle = categoriaTitulo;
const pageDescription = `Esta es la descripción de la página de ${categoriaTitulo}.`
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <Breadcrumbs />
  <h1 class="mb-4">{pageTitle}</h1>
  <PostsList page={page} />
</BaseLayout>

