--- 
import { LOCATION } from '../data/consts.ts'

const { siteTitle, siteDescription } = Astro.props 
const { pageTitle, pageDescription } = Astro.props 
--- 

<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{pageTitle} | {siteTitle} | {LOCATION.city} - {LOCATION.country}</title>
  <meta name="description" content={pageDescription ? `${pageDescription}` : `${siteDescription}`} />
  <meta property="og:title" content=`${pageTitle} | ${siteTitle} | ${LOCATION.city} - ${LOCATION.country}` />
  <meta property="og:description" content={pageDescription ? `${pageDescription}` : `${siteDescription}`} />
  <meta property="og:type" content="website" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/global.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <script defer src="/js/global.js"></script>
</head>

